<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Shopping Cart</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link 	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" 
				th:ref="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
				rel="stylesheet" Media="screen"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
	
	</head>
	<body>
	
		<div th:replace="fragments/header :: header"></div>
			
			<form action="#" th:action="@{/login}" method="post">
				
		        <div class="loginform">
		      		<div class="login-error" th:if="${param.error}">
						<span>username or password is incorrect!</span> 
					</div>
		            <input class="logininput" name="email" placeholder="E-mail" type="text">
		            <input class="logininput" name="password" placeholder="password"type="password">
		            <button type="submit">Sign In</button>
		        </div>
		   	</form>
		   	
		  	   <script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
	</body>
	

</html>