<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
	<head>
		<title>Shopping cart</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link 	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" 
				th:ref="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
				rel="stylesheet" Media="screen"/>
		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
	
	</head>
	<body>
	
		<nav>
			<div>
		 		<a href="/">Home</a>
		 		<a href="#">About</a>
		 		<a href="#">Contact</a>
			</div>
		    
		    <div>
		        <a href="/login">Log in</a>
		        <a href="/register">Register</a>
		    </div>
		</nav>
		
		<form>
	        <div class="loginform">
	            <input class="logininput" placeholder="E-mail" type="text">
	            <input class="logininput" placeholder="password"type="password">
	            <a href="/welcome">Log In</a>
	        </div>
    	</form>
	   
      	<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
         	th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
	</body>

</html>