<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">

	<head th:replace="fragments/header :: head-css"></head>
	
	<body>
		<div th:replace="fragments/header :: header"></div>
			
		<form action="#" th:action="@{/netellerdeposit}" th:object=${netellerTxInput} method="post">
			<div class="netellerdepositform">
	    		<input type="text" th:field="*{amount}" class="netellerdepositinput" id="inputAmount"  placeholder="Enter amount">
	    		<input type="text" th:field="*{account}" class="netellerdepositinput" id="inputAccount" placeholder="Enter account">
	    		<input type="text" th:field="*{secureId}" class="netellerdepositinput" id="inputSecureId" placeholder="Enter secureid">
	    		<input type="text" th:field="*{bonusCode}" class="netellerdepositinput" id="inputBonusCode" placeholder="Enter bonuscode (Optional)">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
		
		<div th:replace="fragments/header :: footer"></div>
	</body>

</html>