<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
</head>

<body>
    <nav>
        <div>
            <a href="#">Home</a>
            <a href="#">About</a>
            <a href="#">Contact</a>
        </div>
        <div>
            <a href="#">Log in</a>
            <a href="/register">Register</a>
        </div>
    
    </nav>
    <form>
        <div class="container">
            <p>First name</p>
            <input type="text">
            <p>Last name</p>
            <input type="text">
            <p>E-mail</p>
            <input type="text">
            <p>Password</p>
            <input type="password">
            <button>Submit</button>
        </div>
    </form>

</body>

</html>