<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="https://www.w3.org">
	<head th:fragment="head-css">
		
			<title>Shopping Cart</title>
			
			<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		
			<link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css" 
					th:ref="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
					rel="stylesheet" Media="screen"/>
			<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/styles.css}">
	</head>
	<body>
	
		<div th:fragment="header">
			<nav>
				<div>
					<a th:href="@{/}">Home</a>
			 		<a th:href="@{/about}">About</a>
			 		<a th:href="@{/contact}">Contact</a>
				</div>
			    
			    <div>
				    <span sec:authorize="!isAuthenticated()">
				    	<a th:href="@{/login}">Log in</a>
				    	<a th:href="@{/register}">Register</a>
				    </span>
				    
				   <span sec:authorize="isAuthenticated()">
				    	<a th:href="@{javascript:$('#logoutForm').submit();}">Log out</a>
				 		<a th:href="@{/netellerdeposit}">Deposit</a>
				 		<a href="#">Withdraw</a>
				   </span>
			    </div> 
			</nav>
			
				<form id="logoutForm" th:action="@{/logout}" method="post">
		            
		        </form>
		</div>
		
		<div th:fragment="footer">
			<script th:src="@{https://code.jquery.com/jquery-3.2.1.min.js}"></script>
		</div>
	</body>
	

</html>